<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add products</title>
</head>
<body>
<form action="/add_prod" method="post">
    <input type="text" placeholder="Введите название продукта" name="name">
    <input type="number" placeholder="Введите количество на складе" name="instock">
    <input type="number" placeholder="Введите количество" name="Q-ty">.
    <input type="number" placeholder="Введите категорию" name="Category_id">
    <input type="number" placeholder="Введите цену" name="Price">
    <input type="submit">
</form>
</body>
</html>